@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    width: 440px;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  ::-webkit-scrollbar-thumb {
    background: #18181b;
    border-radius: 4px;
  }
}
